/.env
workspace.code-workspace
.vscode/launch.json
.htaccess
Brewfile
node_modules/**
.nuxt
.nuxt/**
package-lock.json
yarn.lock
.nuxt/routes.json
.nuxt/components/index.js
.nuxt/components/plugin.js
.nuxt/components/readme.md
.nuxt/vetur/tags.json
.eslintcache
/.nuxtrc
